@using Assignment_CS5.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Assignment_CS5.Constants

@{
    string adminUserName = Context.Session.GetString(SessionKey.Employee.UserName);
    string adminRole = Context.Session.GetString(SessionKey.Employee.Role);
    string adminFullName = Context.Session.GetString(SessionKey.Employee.FullName);
    string cusUserName = Context.Session.GetString(SessionKey.Customer.CusEmail);
    string cusRole = Context.Session.GetString(SessionKey.Customer.Role);
    string cusFullName = Context.Session.GetString(SessionKey.Customer.CusFullName);
}

<ul class="navbar-nav">
    @if (!String.IsNullOrEmpty(adminUserName) || !String.IsNullOrEmpty(cusUserName))
    {
        @if (!String.IsNullOrEmpty(adminFullName))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-light">Hello, @adminFullName</a>
            </li>
        }
        @if (!String.IsNullOrEmpty(cusFullName))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-light">Hello, @cusFullName</a>
            </li>
        }



        @if(adminRole == "Admin" || adminRole=="Employee")
        {
            <li class="nav-item">
                <form asp-area="" class="mt-2"  asp-controller="Admin" asp-action="Logout" method="post" id="logoutForm">
                    <button id="logout" type="submit" class="btn btn-primary ml-xl-4">Logout</button>
                </form>
            </li>
        } else
        {
            <li class="nav-item  ">
                <form class="mt-2" asp-area="" asp-controller="Customer" asp-action="Logout" method="post" id="logoutForm">
                    <button id="logout" type="submit" class="btn btn-primary ml-xl-4">Logout</button>
                </form>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
             <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary ml-xl-4 " id="login" href="/Customer/Login">Login</a>
        </li>
    }
</ul>
