@using Assignment_CS5.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Assignment_CS5.Constants
@{
    string userName = Context.Session.GetString(SessionKey.Employee.UserName);
}
@{
    string role = Context.Session.GetString(SessionKey.Employee.Role);
}
@if(userName != null  && (role == "Admin" || role =="Employee"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu">
            <a class="nav-link dropdown-item" asp-controller="Menu" asp-action="Index">Menu</a>
            <a class="nav-link dropdown-item" asp-controller="Employee" asp-action="Index">Employee</a>
            <a class="nav-link dropdown-item" asp-controller="Customer" asp-action="Index">Customer</a>
            <a class="nav-link dropdown-item" asp-controller="Order" asp-action="Index">Order</a>
            <a class="nav-link dropdown-item" asp-controller="Order" asp-action="PaymentResponse">Payment response</a>
        </div>
    </li>
}
