@model Assignment_CS5.Models.Menu
@{
    ViewData["Title"] = "Edit Product";
}

<div class="form-body" style="margin-top:140px">
    <div>
        <div class="form-holder">
            <div class="form-content justify-content-center">
                <div class="form-items">
                    <h3 class="mb-5">Edit Product</h3>
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-@TempData["MessageType"]" role="alert">
                            @TempData["Message"]
                        </div>
                    }
                    <form class="requires-validation " asp-action="Update" asp-controller="Menu" method="post" enctype="multipart/form-data">
                        <div class="col-md-12">
                            <div class="row justify-content-center m-3"><img src="~/images/products/@Model.Image" class="img-thumbnail img-150" /></div>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control  bg-light text-dark" asp-for="ProductId" required readonly>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" asp-for="Name" placeholder="Name">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="col-md-12 mt-3 ">
                            <input class="form-control bg-light text-dark" asp-for="Price" min="0" type="number" step="500" placeholder="Price">
                            <span class="text-danger" asp-validation-for="Price"></span>
                        </div>
                        <div class="col-md-12 mt-3">
                            <select asp-for="Category" class="mt-0  text-dark" asp-items="Html.GetEnumSelectList<Category>()">
                                <option value="" disabled selected>...Select category</option>
                            </select>
                            <div class="valid-feedback">Category field is valid!</div>
                            <span class="text-danger" asp-validation-for="Category"></span>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label">Image</label>
                            <input class="form-control bg-light text-dark mb-1" asp-for="Image" type="text" readonly>
                            <input class="form-control" asp-for="ImageFile" type="file" accept="image/*" multiple="multiple">
                        </div>
                        <div class="col-md-12  mt-3">
                            <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" asp-for="Status">Status: </label>
                            <input type="radio" class="btn-check" asp-for="Status" id="instock" value="true" autocomplete="off" >
                            <label class="btn btn-sm btn-outline-secondary" for="instock">In Stock</label>
                            <input type="radio" class="btn-check" asp-for="Status" id="soldout" value="false" autocomplete="off">
                            <label class="btn btn-sm btn-outline-secondary" for="soldout">Sold Out</label>
                            <span class="text-danger" asp-validation-for="Status"></span>
                        </div>
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
