@using Assignment_CS5.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Assignment_CS5.Constants

@model IEnumerable<Assignment_CS5.ViewModels.ViewCart>

@{
    string cusEmail = Context.Session.GetString(SessionKey.Customer.CusEmail);
    string cusName = Context.Session.GetString(SessionKey.Customer.CusFullName);
}
<div style="margin-top:170px">

    <div class="row m-5 justify-content-center">
        <h1>Cart</h1>
    </div>

    <div class="row m-5">
        <table class="table text-light mt-5">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = 0;
                    double total = 0;
                    foreach(var item in Model)
                    {
                        
                    }
                }
            </tbody>
        </table>
</div>